*{
    box-sizing:border-box;
  }

  .pr{
      width: 100%;
      height: 50px;
  }

  body{
    margin:auto;
    font-family: sans-serif;
  }
  .form{
      
      background-color: #FFFAFA;
      box-shadow:0 0 20px 1px rgba(0,0,0,0.1);
    
  }
  .form_title{
    text-align:center;
    margin-top:0;
  }
  .form_input{
    padding:20px;
    margin-top:40px;
    background:rgba(0,0,0,0.1);
    border:none;
  }
  .form_input:focus{
    outline:2px solid #000;
  } 
  .form_input:focus + .form_label{
    margin-top:-85px;
  }
  .form_label{
    position:absolute;
    padding-left:15px;
    margin-top:-45px;
    color:rgba(0,0,0,0.5);
    transition:all 0.2s;
  }
  .form_submit{
    background:#000;
    border:none;
    padding:10px 20px;
    color:#fff;
    cursor:pointer;
  }
  .focus{
    margin-top:-135px;
  }
  
  .mapa {
    display:none;
  }
  

  @media (min-width: 768px) {
    .mapa {
        display:block;
        margin-left: 50px;
      }
}